.navbar {
    background-color:#323c7d;
    height: auto;
}
.navbar a {
    color: #FFFFFF;
    
    
}
.navbar-brand img {
  width: 6.5rem;  
}

.navbar-nav {
  font-size: 1.5rem; 
}

.reactIcon,.badgeIcon {
  font-size: 2rem;
}

.card-img, .card-img-top {
  object-fit: contain;
}
.checkout .cart-btn {
  display: none;
}

/* .btn-group {
  margin-left: 13rem;
} */
